* {
  box-sizing: border-box;
}

.container {
  background-color: #8855db;
  color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-color {
  font-size: 10em;
}
